In [20]:
import pandas as pd

In [35]:
df = pd.read_csv('main.csv', index_col = 'Year')

In [36]:
df.head()

      Population    Total  Violent  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                                ...
1960   179323175  3384200   288460  ...    912100        1855400         328200
1961   182992000  3488000   289390  ...    949600        1913000         336000
1962   185771000  3752200   301510  ...    994300        2089600         366800
1963   188483000  4109500   316970  ...   1086400        2297800         408300
1964   191141000  4564600   364220  ...   1213200        2514400         472800

[5 rows x 11 columns]

In [40]:
gbdf= df.groupby((df.index//10)*10).sum()

In [41]:
gbdf.head()

      Population      Total   Violent  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                                   ...
1960  1915053175   49295900   4134930  ...  13321100       26547700        5292100
1970  2121193298  100991600   9607930  ...  28486000       53157800        9739900
1980  2371370069  131123369  14074328  ...  33073494       72040253       11935411
1990  2612825258  136582146  17527048  ...  26750015       77679366       14624418
2000  2947969117  115012044  13968056  ...  21565176       67970291       11412834

[5 rows x 11 columns]

In [43]:
gbdf.groupby(('Year').agg({['Violent', "Property", 'Murder', "Forcible_Rape","Robbery","Aggravated_assault","Burglary","Larceny_Theft","Vehicle_Theft"]: 'sum', 'Population':'max'})

SyntaxError: ignored

In [45]:
gbdf.to_csv('main.csv')