In [47]:
import pandas as pd

In [48]:
df = pd.read_csv('main.csv')

In [49]:
df

    Unnamed: 0                 Team  Yellow Cards  Red Cards
0            6               Greece             9          1
1            9               Poland             7          1
2           11  Republic of Ireland             6          1
3            7                Italy            16          0
4           10             Portugal            12          0
5           13                Spain            11          0
6            0              Croatia             9          0
7            1       Czech Republic             7          0
8           14               Sweden             7          0
9            4               France             6          0
10          12               Russia             6          0
11           3              England             5          0
12           8          Netherlands             5          0
13          15              Ukraine             5          0
14           2              Denmark             4          0
15           5              Germany             4          0

In [50]:
gbdf = pd.DataFrame(df, columns = ['Team', 'Yellow Cards', 'Red Cards'])

In [51]:
gbdf.head()

                  Team  Yellow Cards  Red Cards
0               Greece             9          1
1               Poland             7          1
2  Republic of Ireland             6          1
3                Italy            16          0
4             Portugal            12          0

In [52]:
gbdf.groupby('Team')['Red Cards','Yellow Cards']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [53]:
gbdf.head()

                  Team  Yellow Cards  Red Cards
0               Greece             9          1
1               Poland             7          1
2  Republic of Ireland             6          1
3                Italy            16          0
4             Portugal            12          0

In [54]:
final = gbdf.sort_values(['Red Cards','Yellow Cards'], ascending= False)

In [55]:
final.head()

                  Team  Yellow Cards  Red Cards
0               Greece             9          1
1               Poland             7          1
2  Republic of Ireland             6          1
3                Italy            16          0
4             Portugal            12          0

In [56]:
final.to_csv('main.csv')